<div class="container mt-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-signin">
    <h3 class="mb-3 font-weight-normal">Please sign in</h3>

    <div *ngIf="msgError" class="alert alert-danger mb-3">
      {{ msgError }}
    </div>

    <div>
      <label for="email" class="sr-only">Your Email</label>
      <input
        type="text"
        id="email"
        class="form-control mb-2"
        formControlName="email"
        placeholder="Your Email"
        [ngClass]="{
          'is-invalid':
            form.controls['email'].invalid && form.controls['email'].touched
        }"
      />
      <app-field-error-display
        nameField="Email"
        [formError]="form.controls['email']"
      ></app-field-error-display>
    </div>

    <div>
      <label for="password" class="sr-only">Your Password</label>
      <input
        type="password"
        id="password"
        class="form-control mb-2"
        formControlName="password"
        placeholder="Your Password"
        [ngClass]="{
          'is-invalid':
            form.controls['password'].invalid &&
            form.controls['password'].touched
        }"
      />
      <app-field-error-display
        nameField="password"
        [formError]="form.controls['password']"
      >
      </app-field-error-display>
    </div>

    <button
      class="btn btn-lg btn-primary btn-block mb-3"
      type="submit"
      [disabled]="form.invalid"
    >
      Sign in
    </button>

    <div class="checkbox">
      <label>Don`t have a account?</label>
      <a [routerLink]="['/register']"> Register Here</a>
    </div>
  </form>
</div>
